.carousel-inner>.item {
	min-height: 600px;
	background-size: cover;
	background-position: center;
}

.p.sansserif {
	font-family: Arial, Helvetica, sans-serif;
  }
.navbar {
	height: 50px;
	background-color: #ffffff;
}

.nav {
	height: 20px;
	line-height: 20px;
	font-size: 6px;
	margin-left: 10px;
	margin-top: 15px;
}

.navbar-brand {
	height: 20px;
	line-height: inherit;
	font-size: 24px;
}

.dropdown-menu {
	font-size: 20px;
}

body {
	font-family: 'Helvetica';
	font-size: 20px;
}

h3 {
	font-size: 30px;
}

h4 {
	color: rgb(244, 133, 66);
	font-size: 50px;
	margin: 50px;
}

.nav {
	font-size: 20px;
	color: white;
}

.col-md-6 ul {
	margin: 130px;
	font-size: auto;
}

.glyphicon p {
	font-size: 50px;
}

.signupform{
	color: rgb(244, 133, 66);
	font-size: 15px;
	border: auto;
	position: center;
	line-height: 20px;
	padding: 20px;
}

.col-md-3 p {
	color: black;
	font-weight: bold;
	font-size: 50px;
	margin-left: 80px;
	margin-bottom: -20%;
	padding-bottom: 0%;
}

.counter-text p {
	font-weight: normal;
	line-height: 1;
	color: black;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 20%;
}

.col-md-3 {
	padding: 10px;
	position: center;
}

.icons li {
	margin: 15px;
}

.col-md-4 img {
	width: 100%;
	height: 250px;
	left: 0px;
}

.text-change {
	width: 100%;
	height: 300px;
	position: relative;
	display: inline-block;
}

.text-change img {
	width: 100%;
	height: 250px;
	border-radius: 4px;
	transition: .3s;
}

.text-change:hover img {
	filter: blur(4px) brightness(50%);
	box-shadow: 0 0 16px cyan;
}

.text-change :not(img) {
	position: absolute;
	top: 30%;
	z-index: 1;
	color: #fff;
	text-align: center;
	width: 100%;
	opacity: 0;
	transition: .3s;
}

.text-change h3 {
	top: 50%;
}

.text-change:hover :not(img) {
	opacity: 1;
}

.contact-form {
	background-color: black;
	margin: 40px;
	padding: 50px;
}

.form-control {
	height: auto;
	width: 100%;
	margin-top: 30px;
}

.who-we-are {
	margin-top: 10%;
	margin-bottom: 10%;
}

.About-us-text {
	line-height: 1, 5;
}

.btn-fb:hover {
  background-color: orange;
}

.btn-twitter:hover {
  background-color: orange;
}

.pinterestbtn:hover {

  background-color: orange;
}
#submit {
align-self:auto;
 }
 .fa-hand-holding-heart:hover {
   color: red;
 }
