<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/Users/anastasiaaniwa/Desktop/CodeFirstGirls/Python/Competition_App/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Users/anastasiaaniwa/Desktop/CodeFirstGirls/Python/Competition_App/static/css/hello.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> ESQUE Coding Academy </title>
  </head>

    <body>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ESQUE coding academy</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#Welcome">Welcome</a></li>
              <li><a href="#Courses">Courses</a></li>
              <li><a href="#Points">Community</a></li>
              <li><a href="about-us.html" target="_blank">Who we are</a></li>
              <li><a href="#Contact-Us">Contact Us</a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
      
        <body>
      <br><br><br>
    <!----carousel -->
    <!-- <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-Indicators -->
        <!-- <ol class="carousel-indicators"> -->
          <!-- <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li> -->
          <!-- <li data-target="#carousel-example-generic" data-slide-to="1"></li> -->
          <!-- <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
        <!-- </ol> -->
        <!-- Wrapper for slides -->
        <!-- <div class="carousel-inner" role="listbox"> -->
          <!-- <div class="item active" style="background-image:url(/Users/anastasiaaniwa/Desktop/CodeFirstGirls/Python/Competition_App/static/images/office-workplace.jpg);"> -->
          <!-- </div> -->
          <!-- <div class="item" style="background-image:url(/Users/anastasiaaniwa/Desktop/CodeFirstGirls/Python/Competition_App/static/images/office-workplace.jpg);"> -->
          <!-- </div> -->
          <!-- <div class="item" style="background-image:url(/Users/anastasiaaniwa/Desktop/CodeFirstGirls/Python/Competition_App/static/images/office-workplace.jpg);"> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->

          <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
            <h1>Coding, made simple</h1>
            </div>
          </div>
        <p>
          <div class="signupform">
            <div class="col-md-7">
              <p align="justify"> 
                  <img src="/Users/anastasiaaniwa/Desktop/CodeFirstGirls/Python/Competition_App/static/images/laptopaerial.jpg" width="460" height="345"> 
            </div>
            <div class="col-md-5">
              <div class="signupform">
                <ul style= "list-style: none";>
                  <div id="signup-form">
                    <form method="post" action="/signup">
                        <label for="First_name">Firstname:</label>
                        <input type="text" id="firstname" name="firstname" required="required"> <br>

                        <label for="Last_name">Lastname:</label>
                        <input type="text" id="lastname" name="lastname" required="required"> <br>

                        <label for="Gender">Gender:</label> <br>                    <!--radio buttons for gender selection-->
                        <input type="radio" id="Gender" name="Gender" value="Female" required="required"> Female
                        <input type="radio" id="Gender" name="Gender" value="Male" required="required"> Male
                        <input type="radio" id="Gender" name="Gender" value="Other" required="required"> Other <br>

                        <label for="Age">Age Group:</label> <br>
                        <select name="Age" size="3">                                <!--Drop down list for age group-->
                            <option value="0-17">Generation Z (0 - 17)</option>
                            <option value="18-34">Generation Y (18 - 35)</option>
                            <option value="35-50">Generation X (35 - 50)</option>
                            <option value="50+">Baby bloomers (50+)</option>
                        </select> <br>

                        <label for="Email">Email address:</label>
                        <input type="email" id="email" name="email" required="required"> <br>

                        <label for="Password">Password:</label>
                        <input type="password" id="Password" name="Password" required="required"> <br>

                        <input type="submit" value="Submit" id="submitbutton">
                    </form>
                  </div>
                </div>
                </ul>
              </div>
            </div>
          </div>    
        </p>

        <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
               Fed up of paying too much for your website? Thinking of a career change? Thinking of picking up a new hobbie? 
               <br>ESQUE Coding Academy will get you there.

              </div>
            </div>
              </p>
<br> <br>
             
              <script src="/Users/anastasiaaniwa/Desktop/CodeFirstGirls/Python/Competition_App/static/jquery-3.3.1.min.js"></script>
              <script src="/Users/anastasiaaniwa/Desktop/CodeFirstGirls/Python/Competition_App/static/js/bootstrap.min.js"></script>
        </body>
