<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/Users/anastasiaaniwa/Desktop/CodeFirstGirls/Python/Competition_App/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/hello.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> ESQUE Coding Academy </title>
  </head>

    <body>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ESQUE Coding Academy</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#Welcome">Welcome</a></li>
              <li><a href="#Facts">Facts</a></li>
              <li><a href="#Howto">How to help</a></li>
              <li><a href="#Points">Recyling Points</a></li>
              <li><a href="about-us.html" target="_blank">Who we are</a></li>
              <li><a href="#Contact-Us">Contact Us</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Get Involved <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="https://www.lovenotlandfill.org/" target="_blank">#LoveNotLandfill</a></li>
                  <li><a href="https://www.recyclenow.com/reduce-waste/repair-and-re-use/love-your-clothes" target="_blank"> Recycle now UK</a></li>
                  <li><a href="http://www.wrap.org.uk/content/clothing-waste-prevention" target="_blank">Wrap.org</a></li>
                  <li><a href="https://www.hubbub.org.uk/" target="_blank"> Hubbub.org</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>


        <h1>
            ESQUE Coding Academy
        </h1>
        <p>
            Where intelligence begins   <!--Quote from logo-->
        </p>
        <body>
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active" style="background-image:url(static/images/The_True_Cost.jpg);">
              </div>
              <div class="item" style="background-image:url(static/images/6360.jpg);">
              </div>
              <div class="item" style="background-image:url(static/images/hamilton-vintage-clothing-1.jpg);">
              </div>
            </div>
          </div>
          <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h4 id="Welcome">
              Welcome to our website
              <h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <h3> Why you should recycle your clothes? </h3>
              <p align="justify"> When planning for your next big night out, a job interview, or holiday, you might think to buy a new outfit. But have you considered what the impact of fast fashion might be? UK households have an average of <b>£4,000</b> worth of clothes - but <b>30%</b> of those haven’t been worn in the last year! We can all save money and help the environment by making simple changes to the way we buy, use and get rid of our clothing.
              <br>
              When clothing isn’t recycled, it means more and more has to be produced and that means more and more pollution for all of us. Pesticides used in the production of clothing enter our ground water and streams affecting bees, animals and the farm workers who have to work with them. Dyes, most of which contain heavy metals, are known to be harmful to public health. Synthetic polyesters and nylon are made from petrochemicals,
              a byproduct of oil refining which increases our reliance on oil and endangers aquatic life as seen in Blue Planet!
            </div>
            <div class="col-md-5">
              <div class="icons">
                <ul style= "list-style: none";>
                  <li> <i class="fas fa-hand-holding-heart"> </i> Reduces greenhouse gases </li>
                  <li> <i class="fas fa-hand-holding-heart"> </i> Saves landfill space </li>
                  <li> <i class="fas fa-hand-holding-heart"> </i> Conserves enery </li>
                  <li> <i class="fas fa-hand-holding-heart"> </i> Benefits people </li>
                  <li> <i class="fas fa-hand-holding-heart"> </i> Helps people in need </li>
                </ul>
              </div>
            </div>
          </div>
                <div id="signup-form">
                    <form method="post" action="/signup">
                        <label for="First_name">Firstname:</label>
                        <input type="text" id="firstname" name="firstname" required="required"> <br>

                        <label for="Last_name">Lastname:</label>
                        <input type="text" id="lastname" name="lastname" required="required"> <br>

                        <label for="Gender">Gender:</label> <br>                    <!--radio buttons for gender selection-->
                        <input type="radio" id="Gender" name="Gender" value="Female" required="required"> Female
                        <input type="radio" id="Gender" name="Gender" value="Male" required="required"> Male
                        <input type="radio" id="Gender" name="Gender" value="Other" required="required"> Other <br>

                        <label for="Age">Age Group:</label> <br>
                        <select name="Age" size="3">                                <!--Drop down list for age group-->
                            <option value="0-17">Generation Z (0 - 17)</option>
                            <option value="18-34">Generation Y (18 - 35)</option>
                            <option value="35-50">Generation X (35 - 50)</option>
                            <option value="50+">Baby bloomers (50+)</option>
                        </select> <br>

                        <label for="Email">Email address:</label>
                        <input type="email" id="email" name="email" required="required"> <br>

                        <label for="Password">Password:</label>
                        <input type="password" id="Password" name="Password" required="required"> <br>

                        <input type="submit" value="Submit" id="submitbutton">
                    </form>
                </div>

                <div id="Top bar">


                </div>


        </body>
